{% extends "auctions/layout.html" %}

<title>Create Listing</title>

{% block body %}

    <h2>Create a New Listing</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    {& if user.is_authenticated %}
        <form action="{% url 'newlisting' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Save Entry">
        </form>
    {% else %}
    
    {% endif %}

    Don't have an account? <a href="{% url 'register' %}">Register here.</a>

{% endblock %}