{% extends "auctions/layout.html" %}

{% block body %}
    <h1>{{ listing.title }}</h1>
    <h2>{{ listing.description }}</h2>
    {% if bid.bidder == listing.poster %}
        <h4>Current price: ${{ listing.currentPrice }}, <strong>no bidders yet</strong>.</h4>
    {% else %}
        <h4>Current price: ${{ listing.currentPrice }}, bid by @<strong>{{ bid.bidder }}</strong></h4>
    {% endif %}
    <img src="{{ listing.image }}" height="500" width="500">
    {% if user.is_authenticated %}
        <form action="{% url 'listing' username=otherUser listingID=listing.listingID %}" method="post">
            {% csrf_token %}
            {{ commentForm }}
            <input type="submit">
        </form>
    {% endif %}
    {% if user == listing.poster %}
        <button>End this auction</button>
    {% elif user.is_authenticated %}
        <form action="{% url 'listing' username=otherUser listingID=listing.listingID %}" method="post">
            {% csrf_token %}
            {{ bidForm }}
            <input type="submit">
        </form>
        <a href="{% url 'addWatchList' listing.listingID %}"><button>Add to Watchlist</button></a>
    {% endif %}
    <h2>Comments</h2>
    {% for comment in comments %}
        <p>{{ comment.comment }}</p>
    {% endfor %}
{% endblock %}